@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
    *:focus {
      outline: none;
      overflow-y: auto;
    }
    
    body {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      background: #e8e8e8;
      font-size: 16px;
      color: #222;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      align-content: center;
    }
    #box{
        width: 1000px;
        height: 220px;  
        background: #d7d5d5;  
    }
    img{
      position: absolute;
      top: 0%;
      left: 0;
      width:  100% ;
      height: 300px;
      object-fit: cover;
      pointer-events: none;
      width: 100% auto;
    }
    .Inscription{
        text-align: center;
        margin-left: 160px;
    }
    #login-box {

      position: relative;
      top: 150px;
      margin-left: 460px;
      width: 850px;
      height: 710px;
      background: #FFF;
      border-radius: 2px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      display: flex;
      align-content: center;
      margin: auto;
    }
    
    .left {
      position: absolute;
      top: 0;
      left: 0px;
      box-sizing: border-box;
      padding: 40px;
      width: 300px;
      height: 400px;
      
    }
    
    h1 {
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 28px;
    }
    
    input[type="text"],
    input[type="password"],
    input[type="date"] {
      display: block;
      box-sizing: border-box;
      margin-bottom: 30px;
      padding: 4px;
      width: 270px;
      height: 32px;
      border: none;
      border-bottom: 1px solid #000000;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 20px;
      transition: 0.2s ease;
    }
    
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus{
      border-bottom: 2px solid #16a085;
      color: #16a085;
      transition: 0.2s ease;
    }
    
    input[type="submit"] {
      margin-top: 20px;
      width: 150px;
      height: 32px;
      margin-left: 160px;
      background: #16a085;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.1s ease;
      cursor: pointer;
    }
    
    input[type="submit"]:hover,
    input[type="submit"]:focus {
      opacity: 0.8;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transition: 0.1s ease;
    }
    
    input[type="submit"]:active {
      opacity: 1;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.1s ease;
    }
    input[type="submit"]:hover{
        box-shadow: 1px 1px 10px #16a085;
        transform: translateY(-5px);
    }
    
    .or {
      position: absolute;
      top: 250px;
      left: 400px;
      width: 40px;
      height: 40px;
      background: #DDD;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      line-height: 40px;
      text-align: center;
    }
    
    .right {
      position: absolute;
      top: 155PX;
      right: 0;
      box-sizing: border-box;
      padding: 40px;
      width: 330px;
      height: 400px;
      background: url('https://goo.gl/YbktSj');
      background-size: cover;
      background-position: center;
      border-radius: 0 2px 2px 0;
    }
    
    .right .loginwith {
      display: block;
      margin-bottom: 40px;
      font-size: 50px;
      color:#222;
      text-align: center;
    }
   
    
    button.social-signin {
      margin-bottom: 20px;
      width: 270px;
      height: 45px;
      border: none;
      border-radius: 2px;
      color: #FFF;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      transition: 0.2s ease;
      cursor: pointer;
    }
    
    button.social-signin:hover,
    button.social-signin:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }
    
    button.social-signin:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.2s ease;
    }
    
    button.social-signin.facebook {
      background: #32508E;
    }
    button.social-signin.facebook:hover{
        box-shadow: 1px 1px 10px #6abbf5;
        transform: translateY(-5px);
    }
    
    button.social-signin.twitter {
      background: #55ACEE;
    }
    button.social-signin.twitter:hover{
        box-shadow: 1px 1px 10px #6abbf5;
        transform: translateY(-5px);
    }
    
    button.social-signin.google {
      background: #DD4B39;
    }
    button.social-signin.google:hover{
        box-shadow: 1px 1px 10px #6abbf5;
        transform: translateY(-5px);
    }
    .form-control{
        width: 400px;
        border: none;
        border-bottom: 2px solid #00cccb;
        background: none;
        outline: none;
        padding: 10px 5px;
        margin-bottom: 20px;
        color: rgb(13, 1, 1);
        font-size: 15px;
        
        }

    







      header {
          background-color: #fff;
          color: #0c0c0c;
          padding: 0.1px;
      }
      h1 {
          font-size: 2.6rem;
        }
        h2 {
          font-size: 4.8rem;
        }
        h3 {
          font-size: 3rem;
        }
        h4,h5 {
          font-size: 2.8rem;
        }
        a{
            color:#0c0c0c ;
            text-decoration: none;
    
        }
        .main-head{
          background: #fff;
          color: #6abbf5;
        }
      
        li{
          font-size: 1.5rem;
        }
        nav {
            main-height: 10vh;
            display: flex;
            align-items: center;
            width: 90%;
            margin: auto;
            padding: 0.0001rem;
        }
        nav ul {
            display: flex;
            flex: 1 1 40rem;
            justify-content: space-around;
            align-items: center;
            list-style: none;
        }
        #logo {
            flex: 2 1 40rem;
        }
        .content{
            position: relative;
        }
        .text{
            position: absolute;
            top: 0px;
            color: white;
            font-family: agency fb;
            font-size: 30px;
            text-align: center;
        }
        .slider{
            width: 300px;
            margin: auto;
            overflow: hidden;
        }
        .slider ul{
            padding: 0;
            width: 1500px;
            list-style: none;
            position: relative;
            animation: sliding 10s ease-in-out infinite;
        }
        .slider ul li{
            float: left;
            position: relative;
        }
        .slider img{
            width: 300px;
            height: 220px;
        }
        @keyframes sliding{
            5%, 10% {left: 0}
            15%, 30% {left: -300px;}
            35%, 50% {left: -600px;}
            
        }
        .form-control{
            width: 400px;
            border: none;
            border-bottom: 2px solid #00cccb;
            background: none;
            outline: none;
            padding: 10px 5px;
            margin-bottom: 20px;
            color: rgb(13, 1, 1);
            font-size: 15px;
            
            }




