:root{
    --primary: #2d9fe1;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

#header {
position: fixed;
top: 0%;
left: 0%;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
background-color: #fff;
}
#header .logo{
    color: #000000;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header .logo span{
    color: var(--primary);
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left: 20px;
    font-size: 20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: #fff;
}
i{
    font-size: 20px;
    
}
.container {
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: 500px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.h{
   
    margin-left: 760px;
    color:#2d9fe1;
}
.b{
    margin-left: 698px;
    color:#3c3d3d;
}




/*footer*/
footer{
    background-color: rgb(235, 242, 243);
    margin:0 ;
    margin-top: 40px;
    width: 100%;
    height: 300px;

}
.pied-logo{
    text-align: center;
    color: var(--primary);
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    
}
.pied-de-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:32px;
    align-content: space-between;
}
.np{
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 15px;
   
}
.reseau{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
.e{
    margin-left: 35px;
}



h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 10px;
}

li {
    font-size: 16px;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}
.fa-solid fa-user-group{
    margin-left: 300px;
}
.serv{
    margin-left: 550px;  
}
.h2{
    margin-left: 762px; 
}
.h3{
    margin-left: 785px; 
}
.tab {
    border-collapse: collapse;
    width: 50%;
    margin-left: 420px;  
  }
  
  th {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
  }
 
.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
    max-width: 100%;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
.off{
    margin-left: 300px;
    width: 300px;
    height: 250px;
}
.hr{
    width: 1000px;
    margin-left: 300px;

}
.hh{
    color: #2d9fe1;
}    

.nn{
    color: #55585b;
}
.my-button {
    background-color: #2d9fe1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 300px;
    width: 140px;
    height: 37px;
    font-size: 18px;
  }
  
  .my-button:hover {
    background-color: #9baec2;
  }
  .my-buton{
    background-color: #2d9fe1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 140px;
    height: 37px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 200px;
  }

  .my-buton:hover {
    background-color: #9baec2;
  }

  .button{
    background-color: #2d9fe1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 300px;
  }

  .button:hover {
    background-color: #9baec2;
  }

  .buton{
    background-color: #2d9fe1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 470px;
  }

  .buton:hover {
    background-color: #9baec2;
  }

  
  
  