
p{
    font-size: 12px;
}
.c{
   
    margin-left: 540px;
    font-size: 30px;
    font-family: Arial;
    margin-top: 15px;
}
.c1{
    border-radius: 50%;
    background-color: #387da4;
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-left: 300px;
   
}
.c2{
    border-radius: 50%;
    background-color: #387da4;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 190px;
   
}
.c3{
    border-radius: 50%;
    background-color: #387da4;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 190px;
   
}
.c4{
    border-radius: 50%;
    background-color: #387da4;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 190px;
   
}
.c5{
    border-radius: 50%;
    background-color: #387da4;
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 190px;
   
}
.content{
    position: absolute;
    width: inherit;
    height: auto;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 10px;
    color: #fff;
    font-style: italic;

}
/*service*/
.nos-service{
    font-size: 35px;
    font-family: Arial;
    text-align: center;
    margin-top: 70px;
}
.service{
    font-size: 25px;
    font-family: Arial;
    text-align: center;
    margin-top: 20px;
}
.main{
    margin-left: 60px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.cadrs{
    display: flex;
    flex-wrap: wrap;
   
    

}
.cadrs .cadr{
    margin-right: 40px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 25px;
    
    

}
.cadrs .cadr img{
    width: 250px;
    height: 250px;
    
    

}
.cadrs .cadr video{
    width: 250px;
    height: 250px;
    

}
.cadrs .cadr .cadr-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    
    
}
.cadrs .cadr .cadr-body p{
    margin-top: -10px;
    width: 250px;
}
.title-c{
    text-align: center;
    font-size: 26px;
    color: #387da4;
    margin-top: 10px;
    text-decoration: none;
    
}

.search {
    display: flex;
    align-items: center;
  }
  
 .search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
 .search button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
.search  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  