@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
img{
    position: absolute;
    top: 0%;
    left: 0;
    width: 1500px;
    height: 220px;
    object-fit: cover;
    pointer-events: none;
}
#login-box {
    position: relative;
    top: 150px;
    margin-left: 460px;
    width: 600px;
    height: 450px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  .or {
    position: absolute;
    top: 250px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
  }  
  .inscription{
    font-family:'Imprint MT Shadow';
    top: 75px;
    margin-top: -55px;
    margin-left: 210px;
    color: rgb(14, 14, 14);
    position: absolute;
    font-size: 40px;
}
.formButton1{
    border: 2px solid transparent;
    margin-left: 130px;
    background-color: #fff;
    border-color: #00cccb;
    border-radius: 20px;
    padding: 1rem 8.5rem;
    
    font-size: 1rem;
    transition: transform .3s, box-shadow .3s;
    margin-top: 150px;
    cursor: pointer;
}
.formButton1:hover{
    box-shadow: 1px 1px 10px #00cccb;
    transform: translateY(-5px);
}
.formButton2{
    border: 2px solid transparent;
    margin-left: 130px;
    background-color: #fff;
    border-color: #00cccb;
    border-radius: 20px;
    padding: 1rem 8.5rem;
    
    font-size:  12px;
    transition: transform .3s, box-shadow .3s;
    margin-top: 120px;
    cursor: pointer;
    text-decoration: none;
}
.formButton2:hover{
    box-shadow: 1px 1px 10px #00cccb;
    transform: translateY(-5px);
}
.aaa{
    text-decoration: none;
    color: #222;
}

