body {
    background-color: rgb(235, 242, 243);
    font-family:'Courier New', Courier, monospace;
    font-family: Arial;
  }

  .FAQ{
    color: rgb(240, 61, 61);
    font-size: 38px;
    text-align: center;
    text-decoration: underline;
}

.reponses{
    color: black;
font-size: 20px;
text-align: center;
text-decoration: underline;
}

.QL{
    color: rgb(2, 2, 2);
    font-size: 18px;
    text-align: left;
    text-decoration: underline; 
}

.CL{
    color: rgb(2, 2, 2);
    font-size: 18px;
    text-align: left;
}
